src/
logs/
build-output/
repository/
pkgbuilds/*/.SRCINFO
pkgbuilds/*/.gitignore
pkgbuilds/*/src/
pkgbuilds/*/pkg/
pkgbuilds/*/*.pkg.tar*
pkgbuilds/*/*.tar
pkgbuilds/*/*.tar.*
pkgbuilds/*/*.tgz
pkgbuilds/*/*.gz
pkgbuilds/*/*.zip
pkgbuilds/*/*.deb
pkgbuilds/*/*.AppImage
pkgbuilds/*/*.log
pkgbuilds/*/*.sig
pkgbuilds/*/*.zst
pkgbuilds/*/.xml
pkgbuilds/*/*~
pkgbuilds/*/*.swp
pkgbuilds/*/*.swo
pkgbuilds/*/.DS_Store
pkgbuilds/*/__pycache__/
pkgbuilds/*/squashfs-root/
pkgbuilds/*/starter/
.srcdest/
.repo-host
